html {
    box-sizing: border-box;
    margin: auto 0;
    position: relative;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  

.containerEvaluacionCentro{
    display: flex;
    flex-direction: column;
    width: 800px;
   
    
}

.estrellasCantidadComentarios{
    display: flex;
    gap: 25px;
    font-size: 24px;
    justify-content: start;
}

.criteriosRanking{
    margin-top: 20px;
    font-size: 20px;
}

.lineas{
    display: flex;
    width: 800px;
    gap: 3px;
}

.lineas > div {
    height: 10px;
    width: 180px;
    background-color: grey;
    
}

.estrellas{
    display: flex;
    gap: 20px;
}

.tituloEvaluacion{
    text-align: center;
    margin-left: 100px;
}

.tituloEvaluacionCentro{
  position: absolute;
  bottom: 35.5%;
  right: 35%;
}

.evaluarBoton{
    position: absolute;
    background-color: #e6e6e6;
    border-radius: 30px;
    border: 1px solid transparent;
    font-size: 19px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    width: 190px;
    height: 50px;
    text-align: center;
    align-self: flex-end;
    left: 146%;
    }

  




