
html {
    box-sizing: border-box;
    margin: auto 0;
    
   
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  


.containerEvaluacion{
    padding: 40px;
    display: flex;
    gap: 50px;
    margin-top: 190px;
  
}

