html {
    box-sizing: border-box;
    margin: auto 0;


}

*,
*::before,
*::after {
    box-sizing: inherit;
}



.containerResultadoCompra {
    display: flex;
    width: 595px;
    height: 829px;
    padding: 112px 54px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    margin: 0 auto;
}

.textoResultadoCompra {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.numeroPedido {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.imagenCompra {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.comprobantePago {
    display: flex;
    height: 48px;
    padding: 8px 16px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: #000;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.containerButtons {
    display: flex;
    padding: 16px 8px;
    align-items: flex-start;
    gap: 32px;
}

.irInicio {
    display: flex;
    width: 203px;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}