



.productosRelacionados{
   
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 3rem;


   
   
}

.productos-relacionados > div {
    
  

    align-items: center;
    
}

.productoImagen{
 
    width:100px;
    height:170px;
    align-items: center
    
    
}

.cardProducto{
    width: 328px;
    height: 501px;
 
    align-items: center
}


.ranking{
    
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.nombre-producto{
 
    text-align: start;

}
.precio{
    font-size: 20px;
    font-weight: bold;
    
}

.nombre-precio-ranking{
    display: flex;
    flex-direction: column;
}


    
    
