



.productosRelacionados{
   
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    padding-top: 3rem;
    margin-bottom: 4rem;
    position: relative;
    margin-top: 4rem;
   
   
}

.productos-relacionados > div {
    
    height: 13rem;
    width: 15rem;
    margin-top: 2rem;
    
}

.producto{
    background-color: rgb(211, 210, 210);
    height: 12rem;
    width: 14rem;
    
    
}


.ranking{
    
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.nombre-producto{
 
    text-align: start;

}
.precio{
    font-size: 20px;
    font-weight: bold;
    
}

.nombre-precio-ranking{
    display: flex;
    flex-direction: column;
}

.texto-productos-relacionados{
    position: absolute;
    bottom: 96%;
    right: 40%;
    margin: 0 auto
}
 
    
    
