html {
  box-sizing: border-box;
  margin: auto 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;

}

.containerCategories {
  display: flex;
  width: 100vw;
  height: auto;
  padding: 16px;
  flex-shrink: 0;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
 

}

.categories {
  display: flex;
  width: 256px;
  height: 256px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.imagesCategories {
  width: 440px;
  height: 232px;
  flex-shrink: 0;
  display: flex;
 
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.namesCategories {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}