html {
    box-sizing: border-box;
    margin: auto 0;


}

*,
*::before,
*::after {
    box-sizing: inherit;
}



.containerAgregarCarro {
    
    height: 450px;
    width: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    -webkit-box-shadow: -1px 10px 17px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 17px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 17px -13px rgba(0, 0, 0, 0.75);

}


.like {
    width: 32px;
    height: 32px;
    margin-top: 9px;

}

.divLike {
    align-self: center;
}

.compare {
    height: 20px;
    width: 20px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    width: 32px;
    height: 32px;
    padding: 0;
}

.devolGarantPuntos {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 250px;
    height: 100px;
}


.compararCompartir {
    display: flex;
    margin-top: 40px;
}

.botonComprar {

    background-color: #000;
    border-color: #000;
    color: #fff;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    width: 240px;
    height: 50px;
    align-self: center;

}

.precios {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.precioPrincipal {
    font-weight: bold;
    font-size: 50px;
}

.botonComprar,
.botonCantidad {
    font-size: 18px;
}

.botonComprar-like {
    display: flex;
    gap: 50px;

}

.cantidad {
    margin-top: 20px;
}

.botonCantidad {
    padding-left: 5px;
    width: auto;
    display: flex;
    border: none;
    background-color: inherit;
}

.compartirImagen {
    margin-left: 30px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    height: 50px;
    margin: 0;
}



.devolGarantiaPuntos {
    width: 450px;
    height: 150px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 30px 40px;
    line-height: 2;
    -webkit-box-shadow: 0px -11px 13px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -11px 13px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -11px 13px -14px rgba(0, 0, 0, 0.75);
}

.devolucionIconoDiv,
.garantiaIconoDiv,
.puntosIconoDiv {

    margin-top: 3px;

}

.iconoYdevolucion,
.iconoYgarantia,
.iconoYPuntos {
    display: flex;
}