html {
    box-sizing: border-box;
    margin: auto 0;

}

*,
*::before,
*::after {
    box-sizing: inherit;

}

.containerEncabezado{
    margin-left: 4rem;
    margin-top: 60px;
}

.encabezadoProducto{
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  
 
}


img{
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.encabezadoProducto{
    margin-bottom: 20px;
}

.estrellasEncabezadoProducto{
    display: flex;
    gap: 20px;
}

.estrellas-marca{
    display: flex;
    width: 300px;
    flex-direction: column;
    
}

.estrellaE{
    width: 25px;
    height: 25px;
}

.estrellas-marca > div {
    padding: 0;
    margin: 0;
    justify-content: start;
}

.logoMarca{
    height: 50px;
    width: 200px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
}

.h1Encabezado, .spanEncabezado{
    font-size: 40px;
}


    