html {
    box-sizing: border-box;
    margin: auto 0;
  
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  
  }

.headerProductoDestacado {
    width: 100vw;
    height: 240px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 4px solid #cecdcd;;
}



.filterDestacados {
    display: flex;
    float: right;
}



.productos-destacados {
    display: flex;
    width: 75vw;
    Padding: 0px 48px 0px 16px;
    justify-content: space-between;
    row-gap: 16px;
    flex-wrap: wrap;
    float: right;
    gap: 6px;


}

.productos-destacados>div {


    display: flex;
    Padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;



}

.producto {
    width: 232px;
    height: 248px;
    background: #D9D9D9;


}



.estrellasClarineteDestacado {
    width: 50px;
    height: 50px;
}

.nombre-producto {
    text-align: start;
}


.precio,
.nombre,
.spanEstrellasClarinete {
    font-size: 20px;
    font-weight: bold;

}

.spanEstrellasClarinete {
    height: 20px;
}

.nombre-precio-ranking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.texto-productos-destacados {
    position: absolute;
    bottom: 105%;
    left: 0%;
    margin-left: 40px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;



}