

.productos-destacados{
    grid-area: section2;
    display: flex;
    width: 80vw;
    height: 1000px;
    position: relative;
    padding-top: 3rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    flex-direction: end;
    padding-left: 300px;
    border-top: 1px solid black;
    margin-top: 200px;
    
}
   

.productos-destacados > div {
    background-color: #bdbdbd;
    height: 13rem;
    width: 15rem;
    margin-top: 2rem;
    margin-top: 100px;
    
}

.producto{
    background-color: rgb(211, 210, 210);
    height: 12rem;
    width: 14rem;
    
    
}


.ranking{
    
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.nombre-producto{
 
    text-align: start;

}
.precio{
    font-size: 20px;
    font-weight: bold;
    
}

.nombre-precio-ranking{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.texto-productos-destacados{
    position: absolute;
    bottom: 105%;
    left: 0%;
    margin-left: 40px ;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
    
    
}