html {
    box-sizing: border-box;
    margin: auto 0;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}




.imagenesProducto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-top: 2rem;
    
}

.imagenPrincipal{
    
    width: 500px;
    height: 500px;
    background-color: white;
   /*  border: 1px solid black; */
    margin-left: 17px;
    display: flex;
    

}

.imagenesSecundarias{
    display: flex;
    margin-top: 2rem;
    
    
}


.imagenProducto{
    width: 100%;
    height: 80%;
    
}

.img-container {
    overflow: hidden; /* Oculta el exceso de imagen fuera del contenedor */
    position: relative;
  }
  
  .img-zoom {
    transition: transform 0.3s;
  }
  
  .img-container:hover .img-zoom {
    transform: scale(1.2);
  }
  
  /* Establece el punto de origen en el centro superior de la imagen */
  .img-container:hover .img-zoom {
    transform-origin: 50% 0;
  }
  
 

.imagenSecundaria{
    width: 100%;
    height: 85%;
    margin-top: 10px;
    
}

.imagenesSecundarias > div{
    
    margin-right: 1.3rem;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    align-items: center;
    background-color: white
}


.containerCarroImagenes{
    display: flex;
    gap: 100px;
    margin: 50px;
    position: relative;
}

