html {
    box-sizing: border-box;
    margin: auto 0;


}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.container{
    display: flex;
    gap:30px
}

.izquierda{
    border: 1px solid black;
    width: 50vw;
    height: 100vh;
}

.derecha{
    border: 1px solid black;
    width: 50vw;
    height: 100vh;
}