

html {
    box-sizing: border-box;
    margin: auto 0;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  
  }
  
  /* este es mi contenedor grid que es como a nivel del body, contendra todos los componentes del body */

     
