

html {
    box-sizing: border-box;
    margin: auto 0;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  
  }

  .containerPaginaProducto{
    margin-left: 15px;
  }
  
  

     
