html {
  box-sizing: border-box;
  margin: auto 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;

}
.categoryContainer{
  width: 100vw;
  z-index: 0;
  }

.ContainerCategoryTitle{
  display: flex;
  justify-content: center;
  
}

.categoryTitle {
  display: inline-flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("https://s3-alpha-sig.figma.com/img/dd88/810e/79f5811b82bf41a0cbd76d189c6813e7?Expires=1705881600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NhXLYFNi5Uk0ubjWS9pE1pB0JBp8f5gU~2EOk0sokecyygdRikQc5zjxXJaDF8S0A4dxS0K8kAvVkUS88RJEO0Xk7-5w46B2~KvgYUVpoJtyByEUgvSUe7e8wehMOvryUbLHATLlAw8tC-3Km4qEyJABVxb59PPhYcz8RqAovrYzGTvODtitq5p5hyLfED6CiSCCaR~GZL7ejQnGR~x5dLIsGuyKbAXMT-ESOioSvoavO9LnbUkgdr3wV4r2a6QsMP11c5LOq1ALF~-MsSIqyiZnhSsg3-E-sHXjwm9WXyMYOB~lulIaiQGnOeuo7TdAtQ0xpX-ABPTwfjyMvsn4bg__");
  width: 100vw; 
  height: 256px;
}


.categoryTitleH1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.opciones {
  display: inline-flex;
  width: 100vw;
  Padding: 16px 0px;
  align-items: flex-start;
  gap: 80px;
  justify-content: center;
  
}

.opciones > div {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  border-radius: 40px;
  background-color: #180D26;
  color: #A8E9FE;
}