TODO:arreglar los a y cambiarlos por los li TODO:arreglar lo del padding de los a TODO:agregar iconos de las categorias html {
  box-sizing: border-box;
  margin: auto 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;

}

/* este es mi contenedor grid que es como a nivel del body, contendra todos los componentes del body */
.grid-container {
  width: 100vw;
  /* display: grid; COMENTADO PARA IMPORTAR COMPONENTE CARRUSEL EN HOME */
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  /* hice 5 filas porque arriba estara el header, al medio el main con 3 filas y bajo el footer con 1*/
  grid-template-areas:
    /* les asigne nombres literales a cada area definida arriba */
    'header'
    'encabezado' TODO esto es una prueba
    'carrusel'
    'section1'
    'iconos'
    'section2'
    'section3'
    'blogs'
    'footer';
  padding-bottom: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HEADER / CATEGORIAS / ICONOS  */

/* este es mi header, le asigne una grid area dentro de mi contenedor grid */
.header-grid {
  grid-area: header;
  width: 100%;
}

.header-flex {
  background-color: rgb(211, 210, 210);
  height: 124px;
  width: 100vw;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  gap: 150px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.opcionClarinetes {

  display: flex;
  width: 320px;
  flex-grow: 3;
  height: 50px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  background-color: rgb(211, 210, 210);
}



.desplegableMaderas {
  z-index: 1;
  position: absolute;
  background-color: rgb(211, 210, 210);
  margin: 0;
  padding: 0;
  height: auto;

}




.categories-flex {
  display: flex;
  justify-content: space-around;
  margin: 0;


}

.categories-flex {
  list-style: none;


  background-color: black;
  color: whitesmoke;
  height: 5rem;
  align-items: center;
}

li {
  height: 100%;
  align-items: center;
  margin: 0;
  padding-top: 13px;
  width: 320px;

}

.menu {
  align-content: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: rgba(255, 228, 196, 0);
  width: 320px;
  height: 48px;
  padding-bottom: 20px;
}

ul>a {
  color: whitesmoke;
  width: 320px;
  height: 100%;
  padding: 16px 10px;
  text-align: center;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 5rem;
}



/* flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
align-self: stretch; */




.logo-header {
  background-color: rgb(86, 212, 212);
  padding: 0.5rem;
  border-radius: 1rem;
}

.filter {

  border-radius: 100px;
  height: 48px;
  width: 448px;
  border: none;
  text-align: start;
  padding-left: 70px;
  padding-bottom: 15px;
  padding-top: 17px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  outline: none;




}

.filter-button {
  position: absolute;
  top: 35%;
  right: 63%;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  outline: none
}


.icons {
  display: flex;
  Padding: 0px 48px;
  align-items: flex-start;
  gap: 32px;
}



.corazon,
.agenda,
.carro {
  width: 32px;
  height: 32px;
  color: black;
}


.botonUser {
  background-color: rgb(211, 210, 210);
  border: none;
  margin: 0;
  padding: 0;
  width: 30px;
  outline: none;

}






/*   ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */