/* .grid-footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: rgb(211, 210, 210);
    grid-area: footer;
    margin-top: 2rem;
  }
  .footer1 { 
      
      padding: 20 px;
      font-size: 13px;
      text-align: center;
  
  }
  .footer2 {
    
      padding: 20 px;
      font-size: 13px;
      text-align: center;
  
    
  }
  .footer3 {
    
      padding: 20 px;
      font-size: 13px;
      text-align: center;
  
  }
  
  .footer4 {
    
      padding: 20 px;
      font-size: 13px;
      text-align: center;
  
  } */

/* .grid-footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(211, 210, 210);
    margin-top: 2rem;
    
}
 */




.footer {
    background-color: rgb(211, 210, 210);
    margin-top: 70px;
    padding-bottom: 2rem;
    height: 330px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    line-height: 30px;
}

.contenidoFooter {

    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 20px 40px;
}




.footer1 {

    padding: 20 px;
    font-size: 13px;
    display: flex;
    flex-direction: column;


}

.footer2 {

    padding: 20 px;
    font-size: 13px;
    display: flex;
    flex-direction: column;


}

.footer3 {

    padding: 20 px;
    font-size: 13px;



}

.footer4 {

    padding: 20 px;
    font-size: 13px;


}

.facebook,
.instagram,
.tik-tok {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;

}



.logo {
    height: 3rem;
    width: 10rem;
    margin-top: 1rem;
    background-color: rgb(74, 192, 192);
    align-items: center;
    padding-top: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* .direccion {
    margin-right: 80px;
} */

.barraFooter {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    padding-right: 90px;
}

.suscribeteInput {
    width: 40vw;
    height: 50px;
    font-size: inherit;
    padding-left: 20px;
    border: none;
    letter-spacing: 1px;
}

.suscribeteBoton {
    height: 50px;
    border: none;
    background-color: #bdbdbd;
    letter-spacing: 1px;
    color: rgb(46, 46, 46);

}