/* Estilos para el contenedor del carrusel */

.container{
  background-color: pink;
  grid-area: carrusel;
  width: auto;
  height: 100vh;
  
}
 
  .carousel-container {
  width: 1400px;
  padding: 20px;
  position: relative;
}
  
/* Estilos para las imágenes en el carrusel */
.carousel-slide img {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 
  
}

/* Estilos para los botones de navegación */

.slick-next {
  
  position: absolute;
  top: 100%;
  left: 63%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  z-index: 2;
  position: relative;
}



.slick-prev {
  
  position: absolute;
  left: 32%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  z-index: 2;
}


.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

