/* Estilos para el contenedor del carrusel */
html {
  box-sizing: border-box;
  margin: auto 0;
  
 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.container {
  background-color: pink;
  grid-area: carrusel;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Oculta el contenido que se extiende más allá del contenedor */
}

  
.carousel-container {
  width: 100vw; /* Ancho deseado del carrusel */
  padding: 20px;
  display: flex;
  justify-content: center;
 }

.prueba{
  margin-left: 20px;
  
}
   .carousel-slide {
    width: 800px; /* Ancho deseado para las tarjetas de imagen */
    height: 100%; /* Misma altura que el contenedor */
   
    
  }

/* Estilos para las imágenes en el carrusel */
.carousel-slide img {
  width: 900px;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

 
  

/* Estilos para los botones de navegación */

.slick-next {
  
  position: absolute;
  left: 65%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  
 
}

.slick-prev {
  
  position: absolute;
  left: 33%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  z-index: 1;
}


.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.slick-initialized, .slick-slider, .slick-track, .slick-slide, .slick-list{
  width: 203vw;
  height: auto;
  background-color: skyblue;
  
 
  
}


