/* Estilos para el contenedor del carrusel */
html {
  box-sizing: border-box;
  margin: auto 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;

}

.container{
  background-color: pink;
  grid-area: carrusel;
  width: auto;
  height: 100vh;
  position: relative;
  overflow: hidden
}
  
  
 
  .carousel-container {
  width: 100vw;
  padding: 20px;
  
  
}

/* .carousel-slide{
  width: 100px;
  height: 300px;
}
   */

   .carousel-slide {
    width: 200px; /* Ancho deseado para las tarjetas de imagen */
    height: 100%; /* Misma altura que el contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center;
  }

/* Estilos para las imágenes en el carrusel */
.carousel-slide img {
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 
  
}

/* Estilos para los botones de navegación */

.slick-next {
  
  position: absolute;
  left: 62%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  z-index: 1;
  
 
}

.slick-prev {
  
  position: absolute;
  left: 32%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  z-index: 1;
}


.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

