

.carrusel-grid{
    grid-area: section1;
    
    height: auto;
    
   
}

.carrusel-item{
    height: 100%;
    position: relative;
   

}

.tarjetas-carrusel{
    background-color: rgb(211, 210, 210);
    height: 350px;
}

.flechas-carrusel{
    position: absolute;
    
    top:0;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

}

#conteItemsCarrusel{
    
    height: 350px;
    overflow: hidden;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.tarjetas-carrusel-2{
    background-color: rgb(95, 26, 26);
}

.tarjetas-carrusel-3{
    background-color: rgb(248, 84, 194);
}

.flecha{
    height: 2rem;
    width: 2rem;
}