
.containerMarcasPopulares{
    text-align: center;
}



.seccion-populares{
    display: flex;
    
    justify-content: space-around;
    grid-area: section3;
    font-weight: bold;
  
    margin-top: 10px;
    }

/* .texto-marcas-populares{
    position: absolute;
    bottom:83%;
    right: 42%;
    margin: 0 auto
    
}
 */

.seccion-populares > div {
    
    width: 288px;
height: 152px;
    background-color:white;
    border: 1px solid black;
    margin-top: 2rem;
    padding-top: 10px;
    border-radius: 8px;

}

.divMarcasPopulares > img {
    width: 90%;
    height: 90%;
    align-items: center;
}