.filter {
    display: flex;
    width: 25vw;
    justify-content: center;
    padding: 20px;
    gap: 13px;
    
    
    

}

.titleFilter {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}